language: node_js

sudo: false

node_js:
- stable

install:
- npm install

before_script:
- npm test

script:
- tsc

# deploy:
#   provider: npm
#   email: ez@jok.io
#   skip_cleanup: true
#   api_key:
#     secure: abF3PskBvOjPwdH9BcER5UI0cirOvxJnBsso0vNxvLZ8fs9c9cKBSqMk/gNrBzrRjl3fRFXX0Q26QkjZIC+oDQTdpASL4mVNf/GjCR9Ztd6BPJ4OBk60CM66NG+sLb5DyGSF3p01vtfwv9ojzpTuMsUxB0rxCRRJJfJA1k81i9Zi8n9jMqdCrSerNWkRhdozHiTEOpazpSDTEn0pPynSgrg1k2yyVggJ0NurhBfsWOSv8XYKymj13wq383U/bkbpsMq2tGP8FPMTTZMKYog7tj5vUXux82BxShzBcWfEs1UfLpl1YD8ITRi75fta5bCDwcN2ehBFZdsmhNDNdkjMUOHz89DlQn7GZYa9cK5JpxpjKxVjsU2UkBmz2tZK49KXOVa3p8dMlDmEKYWTP0BSbrQDbnoxOFme6CwwTTyuH5UX4U/tI/LwFpDXWOHEccpzohaxcp3/c2a0JknlJbmBqj+JsiIZn8b4YgT5fBB8XjApbA9d4qO2EqeBdwEQs27tqST02zOEmhxoQv8f29IvY+4BGJ9CqJqR42V3R2dB9B/UoKLMOTHRWyBMRmPQ8OsGqGl8dZTk3R8nVc1rJQjkyhlUkaSmaN1Tm68YBElELDH5+yGmqt1QKCdxAH6aUGd48sEGltsbRYgsodJUHVlgbwYv9wnXHBfZzAxp3IVauaY=
